name: Build project

on:
  push:
    branches-ignore:
      - 'backport/**'
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [17, 21]
    name: "Java ${{ matrix.java }} build"
    steps:
      - name: Checkout project
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: "temurin"
          java-version: "${{ matrix.java }}"
          cache: "maven"
      - name: Verify build
        run: mvn -B verify
  sonar:
    needs: build
    if: github.base_ref == 'main' && github.event_name == 'pull_request'
    name: Prepare analysis context
    uses: WrenSecurity/.github/.github/workflows/sonar-pull-prepare.yml@main
    with:
      pull_request: ${{ toJSON(github.event.pull_request) }}
